.dxpr-builder-profile-form .cke_button_icon{vertical-align:text-bottom;float:none}.dxpr-builder-profile-form .form-wrapper{width:100%}.dxpr-builder-profile-form .form-wrapper .js-form-type-checkbox{float:left;width:31%;padding:.3%;margin-top:0;margin-bottom:0.4em}.dxpr-builder-profile-form .form-wrapper .form-item-all-blocks,.dxpr-builder-profile-form .form-wrapper .form-item-all-views{float:unset}.dxpr-builder-profile-form .form-wrapper .fieldset__wrapper{float:left}.dxpr-builder-profile-form .form-wrapper:after{content:"";display:table;clear:both}.dxpr-builder-profile-form .form-item-sidebar{width:100%}

/*# sourceMappingURL=profile-form.css.map */